#!/bin/bash
#######################################################################################################################
#                                                                 _                                                   #
#                                                                | |                                                  #
#                                             __   __   __   __  | |  __,                                             #
#                                            / / _/  \_/  \_/    |/  /  |                                             #
#                                             /_/ \__/ \__/o\___/|__/\_/|/                                            #
#                                                                |\    /|                                             #
#                                                                |/    \|                                             #
#######################################################################################################################
#
# 文件位置: /etc/zookeeper/zoo.cfg
#


# =====================================================================================================================
# 基础配置
# =====================================================================================================================
# 设置每个时间单元为 1000 毫秒 (1 秒钟)
tickTime=1000
# 设置主从实例之间同步数据的时间长度为 10 个时间单元 (10 秒钟)
initLimit=10
# 设置主从实例间心跳检测的回执时间长度为 5 个时间单元 (5 秒钟)
syncLimit=5
# 设置实例的数据存储目录 (存储实例的数据快照文件/ myid 文件)
dataDir=/var/zookeeper/data
# 设置实例的事务日志文件存储目录
dataLogDir=/var/zookeeper/blog
# 设置实例在自动清理数据快照文件时, 仅保存最近 3 份数据快照文件
autopurge.snapRetainCount=3
# 设置实例每间隔 1 小时自动清理一次数据快照文件
autopurge.purgeInterval=1
# 设置实例的业务监听端口
clientPort=2181
# 设置实例的业务连接上限
maxClientCnxns=9999
# 设置实例的可执行四字命令
# 4lw.commands.whitlist=*


# =====================================================================================================================
# 集群配置
# =====================================================================================================================
# server.0=zookeeper-0.season.com:2888:3888
# 0: 实例的 ID 编号
# zookeeper-0.season.com: 实例的主机地址
# 2888: 实例间的数据通信端口
# 3888: 实例间的选举通信端口
server.0=zookeeper-0.season.com:2888:3888
server.1=zookeeper-1.season.com:2888:3888
server.2=zookeeper-2.season.com:2888:3888



