[Unit]
Description = Kafka Service
After = network-online.target
[Service]
Type = forking
TimeoutSec = 0
ExecStart = /usr/local/kafka/bin/kafka-server-start.sh -daemon /usr/local/kafka/config/server.properties
ExecStop = /usr/local/kafka/bin/kafka-server-stop.sh
User = kafka
Group = kafka
LimitNOFILE = 65535
LimitNPROC = 65535
[Install]
WantedBy = multi-user.target
