[Unit]
Description = Redis Service of Sentinel
Documentation = https://redis.io/documentation
Wants = network-online.target
After = network-online.target
[Service]
Type = notify
NotifyAccess = all
TimeoutSec = 0
ExecStart = /usr/local/bin/redis-sentinel /etc/redis/conf.d/sentinel.conf
ExecReload = /usr/bin/kill -s HUP $MAINPID
ExecStop = /usr/bin/kill -s TERM $MAINPID
LimitNOFILE = 65535
LimitNPROC = 65535
OOMScoreAdjust = -99
User=redis
Group=redis
[Install]
WantedBy = multi-user.target
