[Unit]
Description = Redis Service of Standalone
Documentation = https://redis.io/documentation
Wants = network-online.target
After = network-online.target
[Service]
Type = notify
NotifyAccess = all
TimeoutSec = 0
ExecStart = /usr/local/bin/redis-server /etc/redis/conf.d/redis-standalone.conf
ExecReload = /usr/bin/kill -s HUP $MAINPID
ExecStop = /usr/bin/kill -s TERM $MAINPID
LimitNOFILE = 65535
LimitNPROC = 65535
User=redis
Group=redis
[Install]
WantedBy = multi-user.target
